# Checkpoints
*.pt
*.pth
checkpoints*/
fine_symgate/
vdsr_checkpoints/

# Data and Outputs
*.npz
*.npy
*.tif
*.tiff
*.zip
tensors_256/
dataset_12m/
Dataset/
inference/
data/tensors/
data/inference_output/

# Quarantine folder
_to_delete/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
*.egg-info/
dist/
build/
.env
.venv/

# Anaconda / Jupyter
anaconda_projects/
.jupyter/